<!DOCTYPE html>

<html>
  {% include head.html %}

  <body>
    {% include header.html %}
    
    <div class="page-content">
      <div class="wrapper">
        <div class="col-main">
          {{ content | extlinks }}
        </div>
        <div class="col-second">
          {% include sidebar.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});</script>
    <script src="{{ "/assets/easybook.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
