---
layout: page
---

<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>  
        <div class="post-meta">
            {% if page.date %}
            <span class="date"><i class="far fa-calendar-alt"></i>&nbsp;{{ page.date | localize: "%d %B %Y" }}</span>
            {% endif %}
            {% assign tsize = page.tags | size %}
            {% if tsize > 0 %}
            <span class="tags"><i class="fas fa-tags"></i>
                {% for tag in page.tags %}
                {% capture tag_name %}{{ tag }}{% endcapture %}
                <a href="/tags/{{ tag_name }}">{{ tag_name }}</a>
                {% if forloop.last == false %},{% endif %}
                {% endfor %}
            </span>
            {% endif %}
        </div>
    </header>

    <article class="post-content">
        {{ content }}
    </article>

    {% include comment.html %}

</div>